<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= button_to 'Edit', edit_contact_path(@contact), method: :get, class: "btn btn-xs btn-default", form_class: "inline-button" %>
<%# This Back button should always return to the index page to avoid circular 'back's: %>
<%= button_to 'Back', contacts_path, method: :get, class: "btn btn-xs btn-default", form_class: "inline-button" %>
